



body {
  margin: 0;
  background-color: #e7faff;
}

* {
    font-family: 'Inter', system-ui;
}

.wrapper {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

    max-width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
}

header {
    border-bottom: 1px solid #eaeaea;
}

.headerLeft {
    h3, p {
        margin: 0;
    }


}

.headerInfo {
    margin-left: 15px;
}

.headerLeft img {
  height: 40px;
  width: 40px;
}

.headerRight img {
    height: 25px;
    width: 25px;
}


.headerRight{ 
    li {
        display: flex;
        align-items: center;
    }
}

.headerRight{

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    }

    li {
 
            span {
            margin-left: 8px; // небольшое расстояние между иконкой и текстом
            font-size: 14px; // можно подогнать по вкусу
            }
        }

} 

.content {
    h1 {margin: 0;}
}




.searchBlock {
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding: 0 13px;
    input {
        border: 0;
        padding: 10px;
        width: 200px;
    }

    
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.drawer {
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);

    padding: 25px;

    display: flex;
    flex-direction: column;

    h2{
        margin: 0;
    }

    .items {
        overflow: auto;
        margin-bottom: 40px;
    }
}

.items {
    flex: 1;
}

.cartItem {
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 3px;

    overflow: hidden;

    .removeButton {
        margin: 0;
        border: 0px;
        
        background: #fff;

        cursor: pointer;

        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;
    }

    .removeButton:hover {
        opacity: 1;
    }

    p {
        font-size: 14px;
    }


    
}

.cartTotalBlock {

    li {
        display: flex;
        align-items: flex-end;

        margin-bottom: 10px;
    }

    div{
        flex: 1;
        height: 1;
        border-bottom: 1px dashed #DFDFDF;
        position: relative;
        top: -4px;       
    }

    p {
        font-size: 12px;
        opacity: 0.6;
    }

    .successButton{
        position: relative;
        
        width: 100%;
        height: 55px;
        
        background: #9DD558;
        border: 0px;
        border-radius: 18px;

        color: white;
        font-size: 17px;
        font-weight: 500;

        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background:  darken($color: #9DD558, $amount: 5%);

            img, svg {
                transform: translateX(5px);
            }
        }

        &:active {
            background: lighten($color: #9DD558, $amount: 5%);
        }

        img, svg {
            position: absolute;
            right: 20px;
            top: 16px;
            transition: transform 0.2s ease-in-out;
        }
    }

    

    
}

.cartTopBlock{
    .closeButton {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.25s ease-in-out;

        &:hover {
            opacity: 1;
        }
        
    }
}